Screen {
    scrollbar-size: 2 2;
    scrollbar-color: #b9b9b9;
    background: $background;
}

/* HEADER */
.header {
    background: $background;
    content-align: center middle;
    text-style: bold;
    color: #ebccd1;
}

/* GENERAL */
.title {
    content-align: center middle;
    width: 100%;
    min-height: 1;
    text-style: bold;
    background: $panel;
    border: hkey #2d4156;
}

/* HOMEPAGE */
#homepage{
    width: 100%;
    max-height: 100%;
}

#homepage > Vertical {
    align: center middle;
    border: outer #1d2e38;
    width: 100%;
}

#options {
    border: red;
    width: auto;
}

#login {
    content-align: center middle;
    min-height: 1;
    width: 50%;
    text-style: bold;
    background: $panel;
    border: hkey red;
    margin-bottom: 1
}

.credentials {
    width: 49%;
}

#debug {
    margin-top: 1;
    width: 50%;
    height: auto;
    align: center middle;
}

#debug > Static {
    width: auto;
    height: auto;
    margin-right: 2;
    text-style: bold;
    border: blank;
}

#debug > Checkbox{
    width: auto;
    height: auto;
}

#commands{
    content-align: center middle;
    min-height: 1;
    width: 50%;
    text-style: bold;
    background: $panel;
    border: hkey seagreen;
    margin-top: 5;
    margin-bottom: 1;
}

#homepage > Vertical > .commands-horizontal{
    width: auto;
    height: auto;
    align: center middle;
    margin-bottom: 1;
}

#homepage > Vertical > .commands-horizontal > Static{
    width: auto;
    height: auto;
    border: blank;
}


#homepage > Vertical > .commands-horizontal > Button {
    border: tall #1d2e38;
    width: auto;
    background: $primary-background-darken-2;
    margin-right: 2;
}

#homepage > Vertical > .commands-horizontal > Button:hover {
    background: #2d4156;
}

/* BOOKLET */

#booklet-vertical {
    border: red;
    width: 100%;
    height: 100%;
}

.booklet-horizontal {
    border: #ebccd1;
    width: 100%;
    height: auto;
}

.booklet-horizontal > Checkbox {
    height: auto;
    width: auto;
    margin-right: 3;
}

.booklet-horizontal > .description {
    border: blank;
    width: auto;
}

.booklet-horizontal > .name {
    border: blank;
    width: 15%;
}

.booklet-horizontal > .input {
    width: auto;
    dock: right;
}

