Screen {
    scrollbar-size: 2 2;
    scrollbar-color: #b9b9b9;
    background: $background;
}

/* HEADER */
.header {
    background: $panel;
    content-align: center middle;
    text-style: bold;
    color: #ebccd1;
}

/* GENERAL */
.title {
    content-align: center middle;
    width: 100%;
    min-height: 1;
    text-style: bold;
    background: $background;
    border: hkey #2d4156;
}

/* HOMEPAGE */

#homepage-vertical {
    width: 100%;
    height: auto;
    align: center middle;
}

.homepage-horizontal {
    border: #1d2e38;
    width: 60%;
    height: auto;
    align: center middle;
}

.homepage-horizontal-options {
    border: blank;
    width: 60%;
    height: auto;
    align: center middle;
}

.homepage-horizontal-commands{
    border: blank;
    width: 60%;
    height: auto;
    align: center middle;
}

.homepage-horizontal > .homepage-static-buttons{
    height: auto;
    content-align: center middle;
    border: blank;
    width: 70%;
}

.homepage-horizontal > Button{
    border: tall #1d2e38;
    width: auto;
    background: $primary-background-darken-2;
    margin-right: 2;
}

.homepage-horizontal > Button:hover {
    background: #2d4156;
}

.homepage-horizontal-bool{
    border: #1d2e38;
    width: 60%;
    height: auto;

}

.homepage-horizontal-bool > .checkbox-name{
    content-align: center middle;
    width: auto;
    border: blank;
}

.homepage-horizontal-bool > Static{
    content-align: center middle;
    width: 80%;
    border: blank;
}

.homepage-horizontal-bool > Checkbox{
    content-align: center middle;
    width: auto;
}

.options {
    content-align: center middle;
    min-height: 1;
    text-style: bold;
    background: $panel;
    border: hkey red;
}

#commands{
    margin-top: 1;
    content-align: center middle;
    min-height: 1;
    text-style: bold;
    background: $panel;
    border: hkey seagreen;
}

.homepage-horizontal > Static{
    content-align: center middle;
    width: 100%;
}

.homepage-horizontal > Input{
    width: 20%;
    dock: left;
}

.homepage-horizontal > Checkbox{
    width: auto;
}

.homepage-horizontal > Button {
    border: tall #1d2e38;
    width: auto;
    background: $primary-background-darken-2;
    margin-right: 2;
}

.homepage-horizontal > Button:hover {
    background: #2d4156;
}


/* BOOKLET */

#booklet-vertical {
    width: 100%;
    height: auto;
    align: center middle;
}

.booklet-horizontal {
    border: #1d2e38;
    width: 80%;
    height: auto;
}

.booklet-horizontal-bool {
    border: #1d2e38;
    width: 80%;
    height: auto;
}


.command-horizontal-options {
    border: blank;
    width: 80%;
    height: auto;
    align: center middle;
}

.booklet-horizontal-arguments {
    border: #1d2e38;
    width: 80%;
    height: auto;
}

.command-options {
    margin-top: 1;
    margin-bottom: 1;
    content-align: center middle;
    min-height: 1;
    text-style: bold;
    background: $panel;
    border: hkey red;
}

.command-arguments {
    margin-top: 1;
    margin-bottom: 1;
    content-align: center middle;
    min-height: 1;
    text-style: bold;
    background: $panel;
    border: hkey green;
}

.booklet-horizontal-button {
    width: 80%;
    height: auto;
    align: center middle;
    margin-top: 1;
    margin-bottom: 1;
}

.booklet-horizontal-button > Button {
    border: tall #1d2e38;
    width: auto;
    background: $primary-background-darken-2;
    margin-right: 2;
}

.booklet-horizontal-button > Button:hover {
    background: #2d4156;
}

.booklet-horizontal > Checkbox {
    height: auto;
    width: auto;
}

.booklet-horizontal-arguments > .name{
    border: blank;
    width: 15%;
}

.booklet-horizontal-arguments > .description{
    border: blank;
    width: 80%;
}

.booklet-horizontal-arguments > .input{
    width: 15%;
    dock: right;
}


.booklet-horizontal > .description {
    border: blank;
    width: 67%;
}

.booklet-horizontal > .types {
    border: blank;
    width: 13%;
}

.booklet-horizontal > .name {
    border: blank;
    width: 15%;
}

.booklet-horizontal-bool  > .description {
    border: blank;
    width: 60%;
}

.booklet-horizontal-bool > .types {
    border: blank;
    width: 11%;
}

.booklet-horizontal-bool > .name {
    border: blank;
    width: 12%;
}

.booklet-horizontal > .blank {
    width: 15%;
    dock: right;
    background: $panel;
}

.booklet-horizontal > .input {
    width: 15%;
    dock: right;
}

.booklet-horizontal > Checkbox:hover {
    background: #2d4156;
}

.booklet-horizontal > Button {
    border: tall #1d2e38;
    width: auto;
    background: $primary-background-darken-2;
    margin-right: 2;
}

.booklet-horizontal > Button:hover {
    background: #2d4156;
}

.empty {
    align: center middle;
    height: 1fr;
    width: 100%;
    border: #ec971f;
}

.empty >Horizontal{
    width: 100%;
    border: blank;
    height: auto;
    align: center middle;
}

.empty > Horizontal > Static{
    content-align: center middle;
    width: auto;
}

.empty > Horizontal > Button {
    border: tall #1d2e38;
    width: auto;
    background: $primary-background-darken-2;
    margin-right: 2;
}

.empty > Horizontal > Button:hover {
    background: #2d4156;
}

#arguments {
    margin-top: 1;
    content-align: center middle;
    width: 100%;
    min-height: 1;
    text-style: bold;
    border: hkey red;
}

#options2 {
    margin-top: 1;
    content-align: center middle;
    width: 100%;
    min-height: 1;
    text-style: bold;
    border: hkey green;
}

/* SHOW */

#show-container {
    layout: vertical;
    overflow: auto auto;
    border: double #ec971f;
    align: center middle;
}

#show-container > #loading{
    content-align: center middle;
    width: 100%;
    height: auto;
}

.output {
    width: auto;
    height: auto;
    content-align: center middle;
}

