Screen {
    scrollbar-size: 2 2;
    scrollbar-color: #b9b9b9;
    background: $background;
}

/* HEADER */
.header {
    background: $panel;
    content-align: center middle;
    text-style: bold;
    color: #ebccd1;
}

/* GENERAL */
.title {
    content-align: center middle;
    width: 100%;
    min-height: 1;
    text-style: bold;
    background: $background;
    border: hkey #2d4156;
}

/* HOMEPAGE */
#homepage{
    width: 100%;
    max-height: 100%;
}

#options {
    content-align: center middle;
    min-height: 1;
    width: 50%;
    text-style: bold;
    background: $panel;
    border: hkey red;
    margin-bottom: 1;
}

#interno {
    layout: vertical;
    align: center top;
    overflow: auto auto;
    border: outer #1d2e38;
}

.credentials {
    width: 49%;
}

#debug {
    margin-top: 1;
    width: 50%;
    height: auto;
    align: center middle;
}

#debug > Static {
    width: auto;
    height: auto;
    margin-right: 2;
    text-style: bold;
    border: blank;
}

#debug > Checkbox{
    width: auto;
    height: auto;
}

#commands{
    content-align: center middle;
    min-height: 1;
    width: 50%;
    text-style: bold;
    background: $panel;
    border: hkey seagreen;
    margin-bottom: 1;
    margin-top: 1;
}

.commands-horizontal{
    margin-top: 1;
    height: auto;
    align: center middle;
    width: auto;
    margin-bottom: 1;
}

#homepage > #interno > .commands-horizontal > Static{
    width: auto;
    height: auto;
    border: blank;
}

#homepage > #interno> .commands-horizontal > Input{
    width: 20%;
    height: auto;
}

#homepage > #interno > .commands-horizontal > Button {
    border: tall #1d2e38;
    width: auto;
    background: $primary-background-darken-2;
    margin-right: 2;
}

#homepage > #interno > .commands-horizontal > Button:hover {
    background: #2d4156;
}

/* BOOKLET */

#booklet-vertical {
    width: 100%;
    height: auto;
}

.booklet-horizontal {
    border: #ebccd1;
    width: 100%;
    height: auto;
    align: center middle;
}

.booklet-horizontal > Checkbox {
    height: auto;
    width: auto;
    margin-right: 3;
}

.booklet-horizontal > .description {
    border: blank;
    width: 50%;
}

.booklet-horizontal > .name {
    border: blank;
    width: 15%;
}

.booklet-horizontal > .input {
    width: 15%;
    dock: right;
}

.booklet-horizontal > Checkbox:hover {
    background: #2d4156;
}

.booklet-horizontal > Button {
    border: tall #1d2e38;
    width: auto;
    background: $primary-background-darken-2;
    margin-right: 2;
}

.booklet-horizontal > Button:hover {
    background: #2d4156;
}

.empty {
    align: center middle;
    height: 1fr;
    width: 100%;
    border: #ec971f;
}

.empty >Horizontal{
    width: 100%;
    border: blank;
    height: auto;
    align: center middle;
}

.empty > Horizontal > Static{
    content-align: center middle;
    width: auto;
}

.empty > Horizontal > Button {
    border: tall #1d2e38;
    width: auto;
    background: $primary-background-darken-2;
    margin-right: 2;
}

.empty > Horizontal > Button:hover {
    background: #2d4156;
}

#c {
    layout: vertical;
    overflow: auto auto;
    border: double #ec971f;
    align: center middle;
}

#c > #loading{
    content-align: center middle;
    width: 100%;
    height: auto;
}

.prova {
    width: auto;
    height: auto;
    content-align: center middle;
}

#arguments {
    margin-top: 1;
    content-align: center middle;
    width: 100%;
    min-height: 1;
    text-style: bold;
    border: hkey red;
}

#options2 {
    margin-top: 1;
    content-align: center middle;
    width: 100%;
    min-height: 1;
    text-style: bold;
    border: hkey green;
}